@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    overflow-x: hidden !important;
}
h1,h2,h3,h4,h5,h6{
    font-family: Poppins;
}
p,a{
    font-family: Poppins;  
}
.landing{
    width: 100vw;
}
.landing-left{
    float: left;
    height: 100vh;
    background-color: #ECFCFF;
}
.lg-nav-left{
    width: 30%;
    float: left;
}
.lg-nav-left img{
    margin-top: 1rem;
    margin-left: 2rem;
    width: 300px;
}
.lg-nav-right{
    width: 70%;
    float: right;
    margin-top: 5.5rem !important;
}
.lg-nav-right ul{
    float: right;
}
.lg-nav-right ul li{
    float: left;
    font-size:18px;
    font-weight: 600;
    color: #363636;
    padding: .25rem 1rem;
    list-style: none;
    transition: transform 0.3s ease, color 0.3s ease;
}
.lg-nav-right ul li:hover{
    transform: translateY(-5px); 
    color: #F58220;
}
.lg-nav-right ul .active{
    color: #fff !important;
    border-radius: 50px;
    background: #F58220;
}
.nav-line{
    width: 100%;
    background:rgba(41, 66, 118, 0.12);
    height: 1px;
    margin-top: -1rem;
    margin-left: 5px;
    float: left;
}
.landing-right{
    margin-left: -1rem;
}
.landing-right-bg{
    width: auto;
    height: 100vh;
}
.landing-text-body {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.vector-1 {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 200px;
    height: 200px; /* Set height to maintain aspect ratio */
    
    background-size: contain;
}

.vector-2 {
    position: absolute;
    bottom: 30%;
    left: 0%;
    width: 200px;
    height: 200px;
    
    background-size: contain;
}

.vector-3 {
    position: absolute;
    top: 5%;
    right: -6%;
    width: 200px;
    height: 200px;
    
    background-size: contain;
}

.vector-4 {
    position: absolute;
    top: 10%;
    left: 70%;
    width: 100px;
    height: 100px;
   
    background-size: contain;
}

.vector-5 {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    
    background-size: contain;
}
.hand-img img{
    position: absolute;
    bottom: -5%;
    left: 72%;
    transform: translateX(-50%);
    z-index: 10000;
    width: 600px;
    background-size: contain;
}
.vector-1,
.vector-2,
.vector-3,
.vector-4,
.vector-5 {
    transform: translate(-5%, -5%);
    animation: move 3s infinite alternate;
}
.vector-2 {
    animation-delay: 0.5s; /* Small delay between each animation */
}
.vector-3 {
    animation-delay: 1s;
}
.vector-4 {
    animation-delay: .5s;
}
.vector-5 {
    animation-delay: 1s;
}
@keyframes move {
    from {
        transform: translate(-10%, -10%) translateY(0);
    }
    to {
        transform: translate(-50%, -50%) translateY(-10px);
    }
}

.slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
}

.slide-text {
    flex: 0 0 100%; /* Each slide takes the full width */
    position: relative;
    padding: 20px;
    transition: transform 0.5s ease-in-out;
    left: 25%;
    top: 10%;
}

.slide-text .slider-title {
    color: rgba(41, 66, 118, 1);
    font-size: 50px;
    line-height: 70px;
    font-weight: 600;
}

.slide-text p {
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
    width: 600px;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}

.slide-text a {
    padding: 10px 20px;
    text-decoration: none;
    background: rgba(35, 215, 255, 1);
    border-radius: 10px;
    color: rgba(7, 0, 0, 1);
    font-weight: 400;
}

.slide-text a:hover {
    color: rgb(255, 255, 255);
}
.navigation-dots {
    text-align: center;
    margin-top: 20px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgba(35, 215, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: rgba(35, 215, 255, 1);
}
.section-2{
    height: 100%;
    background-image: radial-gradient(rgba(235, 235, 235, 1) 15%, transparent 0);
    background-size: 20px 20px;
}
.home-about{
    padding-left: 13rem !important;
    padding-right: 13rem !important;
    padding-top: 3rem !important;
}
.home-about-left{
    position: relative;
    background: rgba(41, 66, 118, 1);
    height: 700px;
    border-top-left-radius:180px ;
}
.about-vector img{
    position: absolute;
   left: 60%;
   top: 8%;
   height: 320px;  
}
.about-text-div{
    padding-left: 3rem;
}
.about-text-div h2{
    color: rgba(35, 215, 255, 1);
    font-size: 40px;
    font-weight: 600;
    margin-top: 8rem;
}
.about-text-div h1{
    color: rgba(255, 255, 255, 1);
    font-size: 43px;
    font-weight: 600;
    line-height: 65px;
    margin-top: 1.5rem;
}
.about-text-div p{
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
    width: 90%;
    margin-top: 2rem;
    font-weight: 300;
}
.home-conuter-div{
    margin-left: 3rem;
}
.counter-body{
    margin-top: 2rem;
    margin-bottom: 0rem;
}
.counter-body h1{
    color: #F58220;
    font-size: 60px;
    font-weight: 600;
}
.counter-body h3{
    color: rgba(41, 66, 118, 1);
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
}
.counetr-line{
    background: rgba(217, 217, 217, 1);
    width: 300px;
    margin-top: 1rem;
    height: 2px;
}
.section-2-2{
    padding-bottom: 3rem;
    padding-left: 13rem;
    padding-right: 13rem;
}
.home-ser-div{
    padding-top: 2rem;
}
.home-ser-div img{
    width: 110px;
    float: left;
    margin-right: 2rem;
}
.home-ser-div .ser-text-div h2{
    font-size: 30px;
    color: rgba(35, 155, 175, 1);
    padding-top: 1rem;
    font-weight: 600;
}
.home-ser-div .ser-text-div p{
    color: rgba(37, 37, 37, 1);
    font-size: 17px;
}
.service-b-line{
    background: rgba(217, 217, 217, 1);
    width: 600px;
    margin-top: 3rem;
    height: 2px;
}
.q-right-div{
    background: rgba(35, 215, 255, 1);
    height: 250px;
    width: 400px;
    border-bottom-right-radius:180px ;
}
.q-right-div h1{
    color: #ECFCFF;
    font-weight: 600;
    padding-top: 2rem;
    padding-left: 2rem;
}
.q-right-div h2{
    color: rgba(41, 66, 118, 1);
    font-weight: 600;
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 30px;
}
.our-client-bottom h1{
    color: #F58220;
    padding-top: 2rem;
    font-size: 40px;
    font-weight: 600;
}
.our-client-bottom img{
    width: 400px;
}
.ser-slider{
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home-service-section{
    height: 100%;
    background: rgba(236, 252, 255, 1);
}
.home-service-section h1{
    padding-top: 2rem;
    color: rgba(41, 66, 118, 1);
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
.home-service-section p{
    color: rgba(37, 37, 37, 1);
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-weight: 300;
    text-align: center;
}
.outer-ser-card{
    width: 350px !important;
    padding: 0 !important;
    border-radius: 55px;
    background: #ffffff;
    border: 1px solid rgba(35, 206, 246, 1);
    margin: 2rem 2rem !important; 
}
.home-ser-card img{
    width:100%;
}
.home-ser-card-text-div{
   margin: 1rem .5rem -1rem 2rem;
}
.home-ser-card-text-div h3{
    font-weight: 600;
    font-size: 25px;
    margin-left: 3rem !important;
}
.home-ser-card-text-div img{
    width: 60px;
    float: left;
    margin-right: 1rem;
}
.home-ser-card-text-div p{
    text-align: left;
}
.dot-nav {
    text-align: center;
    margin-top: 1rem !important;
    margin-bottom: 2rem;
  }
  
  .dot {
    width: 18px;
    height: 18px;
    background-color: #d9d9d9;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dot.active {
    background-color: #23cef6;
  }
  .control-section{
    height: 100%;
    background: #294276;
  }
  .control-section h1{
    padding: 3rem 10rem;
    color: #fff;
    font-size: 45px;
    font-weight: 600;
  }
  .control-left{
    height:400px;
    width: 100%;
    border-top-right-radius:160px ;
    background: #23cef6;
  }
  .control-left p{
    width: 60%;
    margin-top: 2rem;
    margin-left: 10rem;
  }
  .control-left img{
    width: 450px;
    margin-top: 2rem;
    margin-left: 10rem;
  }
  .wired-div h4{
    margin-left: 5rem;
    color: #23cef6;
  }
  .control-line{
    background: #23cef6;
    width: 450px;
    margin-right: 6rem;
    float: right;
    margin-top: -1rem;
    height: 1.5px;
  }
  .wired-div img{
    width: 500px;
    margin-left: 5em;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .wireless-div h4{
    margin-top: 1rem;
    margin-left: 5rem;
    color: #23cef6;
  }
  .wireless-imgs{
    margin-left: 5rem;
    width: 70%;
  }
  .wireless-imgs img{
    width: 120px;
    margin-top: 1rem;
    padding-right: 1rem;
  }
  .dot-section-3{
    background-image: radial-gradient(rgba(235, 235, 235, 1) 15%, transparent 0);
    background-size: 20px 20px;
  }
  .section-title-common{
    padding-top: 2rem;
    color: rgba(41, 66, 118, 1);
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
.section-title-p-common{
    color: rgba(37, 37, 37, 1);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 300;
    text-align: center;
}
.product-div-container{
    background: #eefcff;
    border-radius: 40px;
    height: fit-content;
    padding: 2rem 6%;
    margin: 1rem 8rem;
    
    border: 1px solid #91e6fa;
}
.home-pro-card{
    padding: 0 1.5rem !important;
}
.home-pro-card img{
    width: 150px;
}
.home-pro-card h3{
    font-size: 25px;
    font-weight: 600;
    color: #294276;
}
.home-pro-card p{
    font-weight: 400;
    margin-bottom: .3rem;
    color: #363636;
}
.home-pro-card a{
    font-weight: 500;
    color: #23cef6;
    text-decoration: none;
}
.project-container{
    padding: 2rem 9rem;
}
.project-card{
    text-align: center;
}
.project-card img{
    width: 350px;
}
.project-card h2{
    color: #294276;
    font-weight: 600;
    font-size: 30px;
    margin-top: 1rem;
}
.project-card p{
    color: #363636;
    font-weight: 400;
    width: 95%;
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
.project-card a{
    font-weight: 500;
    font-size: 20px;
    color: #23cef6;
    text-decoration: none;
}
.project-line{
    background: rgb(203, 202, 202);
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 3px;
}
.client-slider img{
    width: 80%;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.testimonial-section{
    background: rgba(245, 245, 245, 1);
}
.testimonial-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.testimonial-card{
    margin: 3rem 1rem;
    background: #fff;
    border-radius: 50px;
    width: 400px !important;
}
.testimonial-card img{
    margin-top: 1.5rem;
    margin-left: 1rem;
    width: 90px;
    float: left;
}
.testimonial-card h3{
    font-weight: 600;
    margin-left: 8rem !important;
    margin-top: 3rem;
}
.testimonial-card ul{
    list-style: none;
    margin-left: 6rem;
    margin-top: -.3rem;
}
.testimonial-card ul li{
    float: left;
    color: #F58220;
}
.testimonial-card p{
    float: left;
    margin-left: 2rem;
    margin-top: 1rem;
    font-weight: 300;
}

.home-blog-section{
    padding-bottom: 3rem;
    background-image: radial-gradient(rgba(235, 235, 235, 1) 15%, transparent 0);
    background-size: 20px 20px;   
    
}
.home-blog-section h1{
    margin-top: 3rem;
    margin-left: 10rem;
    color: #294276;
    font-size: 50px;
    font-weight: 600;
}
.home-blog-section p{
    margin-left: 10rem;
    font-weight: 300;
    font-size: 18px;
    width: 80%;
    margin-bottom: 2rem;
}
.blog-card{
    margin-left: 10rem;
}
.blog-card img{
    float: left;
    width: 250px;
    margin-right: 2rem;
}
.blog-right h4{
    color: #294276;
    font-weight: 600;
}
.blog-right p{
    color: #363636;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 1.5rem;
}
.blog-right .blog-btn{
    text-decoration: none;
    color: #363636;
    padding: 10px 20px;
    font-size: 18px;
    background: #23cef6;
    border-radius: 10px;
}
.blog-right .blog-btn:hover{
    color: #fff;
}
.feedback-right{
    background: #23cef6;
}
.feedback-right h2{
    margin-top: 3rem;
    margin-left: 3rem;
    font-weight: 600;
    color: #294276;
}
.home-query-form{
    margin-left: 3rem;
    margin-top: 2rem;
}
.home-query-form input{
    margin-bottom: 2rem;
    width: 80%;
    height: 60px;
    border: 0px;
    border-radius: 15px;
}
.home-query-form input::placeholder{
    font-size: 20px;
    padding-left: 2rem;
    font-weight: 400;
}
.home-query-form textarea{
    height: 250px;
    margin-bottom: 2rem;
    width: 80%;
    border: 0px;
    border-radius: 15px;
}
.home-query-form textarea::placeholder{
    font-size: 20px;
    padding-left: 2rem;
    padding-top: 1rem;
    font-weight: 400;
}
.btn-submit{
    float: left;
    text-decoration: none;
    padding: 10px 20px;
    background: #294276;
    color: #fff;
    border-radius: 10px;
    margin-top: -1rem;
}
.btn-submit:hover{
    color: #23cef6;
}
footer{
    background: #294276;
    height: 100%;
}
.footer-logo-sec img{
    width: 300px;
}
.footer-logo-sec p{
    color: #d9d9d9;
    font-weight: 300;
    font-size: 18px;
    margin-top: 2rem;
    width: 90%;
}
.footer-address-sec ul{
    list-style: none;
    color: #d9d9d9;
}
.footer-address-sec li p{
    padding-left: 2rem;
}
.footer-address-sec li{
    margin-top: 1rem;
    font-size: 18px;
    width: 80%;
}
.footer-address-sec i{
    padding-right: 1rem;
}
.footer-link-sec h4{
    color: #d9d9d9;
    font-weight: 600;
}
.footer-link-sec ul{
    color: #d9d9d9;
    font-size: 20px;
    padding-top: 1rem;
}
.footer-link-sec ul li a{
    color: #d9d9d9;
    text-decoration: none;
}
.footer-link-sec ul li{
    padding-top: .5rem;
}
.footer-line{
    height: 2px;
    width: 90%;
    background: #d9d9d9;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.Copyright-p{
    margin-left: 7rem;
    padding-bottom: 2rem;
    font-size: 22px;
    font-weight: 300;
    color: #d9d9d9;
}